{% import "macros/icinga.twig" as icinga %}
<div class="page-header">
    <h2>{%  trans "Service Status" %}</h2>
</div>

<h4>
    {% trans %}
    List of currently monitored services
    {% endtrans %}
</h4>

<div class="container-spacer-down"></div>

<table class="icinga-status-table">

    <tr>
        <th>{% trans "Hostname" %}</th>
        <th>{% trans "Service" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Last check" %}</th>
        <th>{% trans "Duration" %}</th>
        <th>{% trans "Attempt" %}</th>
        <th>{% trans "Status Information" %}</th>
    </tr>

{% for row in data.status.service_status %}
    {% if loop.index is odd %}
        <tr class="odd">
    {% else %}
        <tr class="even">
    {% endif %}


        <td style="white-space: nowrap">{{ row.host_name }}</td>
        <td style="white-space: nowrap">{{ row.service_description }}</td>
        <td class="{{ icinga.service_status_class(row.status) }}">
            {{ icinga.service_status(row.status) }}
        </td>
        <td style="white-space: nowrap">{{ row.last_check }}</td>
        <td>{{ row.duration }}</td>
        <td>{{ row.attempts }}</td>
        <td>{{ row.status_information }}</td>
    </tr>
{% endfor %}
</table>