{% set contact_link = web_link('Monitor/Icinga/Contacts/Edit') %}
<div class="page-header">
    <h2>{% trans "Short Message Service" %}</h2>
</div>

<div class="container-spacer-down alert alert-info">
    <h5>{% trans 'SMS notifications using a CEP CT63 Modem' %}</h5>
    <p>
        <i class="icon-thumbs-up icon-4x pull-left"></i>
        {% trans %}
        To use this feature, a <a target="_blank" href="https://www.thomas-krenn.com/en/wiki/CEP_CT63_Modem">CEP CT63 Modem</a> must be attached to this appliance.
        Use a prepaid SIM card to reduce the risc of a high mobile phone bill in case of a misconfiguration.
        Before you insert the SIM card in the modem, deactivate the SIM card's PIN code or configure the PIN code in the /etc/smsd.conf configuration file on the command line.
        {% endtrans %}
    </p>
</div>


<p>
    {% trans %}
    Enable or disable SMS notifications. If enabled, spool files are created
for further processing by the SMS tools daemon. In addition to get SMS set up, you need to configure a <a href="{{ contact_link }}">contact</a> with its cellular numer.
    {% endtrans %}
</p>

<p>
    {% trans "SMS Alert feature is" %}: <span id="sms-enable-status" data-ajax-call="{{ web_link("SmsEnabled") }}"></span>
</p>

<p id="sms-enable-again" class="hidden container-spacer-down">
    <a href="{{ web_link('Index') }}" class="btn btn-primary">
        <i class="icon-refresh"></i> {% trans "Recheck or change SMS alert feature" %}
    </a>
</p>

<div id="sms-enable-errors">

</div>

<p class="container-spacer-down">
    <form id="form-system-access"
          action="{{ web_link("ChangeSmsAlert") }}"
          data-ajax="form"
          data-ajax-type="json"
          data-form-reset="true"
          data-error-target="#sms-enable-errors"
          data-success-frame="#sms-enable-success"
          data-success-callback="sms_success_callback">
    {% if status == true %}
        <input type="hidden" name="enable" value="0" />
        <button type="submit" class="btn btn-danger">
            <i class="icon-off"></i> {% trans "Disable" %}
        </button>
        <p class="container-spacer-down">
            {% trans %}
            SMS Alerts will be <strong>disabled</strong> for existing and new contacts.
            {% endtrans %}
        </p>
    {% else %}
        <input type="hidden" name="enable" value="1" />
        <button type="submit" class="btn btn-success">
            <i class="icon-ok"></i> {% trans "Enable" %}
        </button>
        <p class="container-spacer-down">
            {% trans %}
            SMS Alerts will be <strong>enabled</strong> for new contacts with a cellular number configured.
            {% endtrans %}
        </p>
    {% endif %}
</p>

<script>
    var sms_success_callback = function() {
        $("#form-system-access").remove();
        $("#sms-enable-again").removeClass("hidden");
        $("#sms-enable-status").Html5AjaxContent("insert");

        // Reload with hash
        $("#sms-enable-again-link").click(function(e) {
            e.preventDefault();
            var url = "{{ web_link('Index#tab-access-ssh') }}";
            location.href = url;
            location.reload();
        });
    }
</script>

<div class="container-spacer-down alert alert-info">
    {% set restart_href = web_link('System/Icinga/Daemon/Index#daemon-restart') %}
    <h4>{% trans 'Icinga restart required' %}</h4>
    <p>
        {% trans %}
        After changing the SMS alert feature you have to restart icinga to apply
        the new settings. Please follow this <a href="{{ restart_href }}">link to restart icinga</a>.
        {% endtrans %}
    </p>
</div>
