<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h2>Security</h2>
</div>

<p>
    This panel is used to change security settings of your
    appliance. Please select an appropriate tab to
    change specific settings.
</p>

<br />

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-user" data-toggle="tab">User</a></li>
        <li><a href="#tab-access-icinga" data-toggle="tab">Icinga access</a></li>
        <li><a href="#tab-access-ssh" data-toggle="tab">SSH Access</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-user">

            <h4>Change your your password</h4>

            <div id="change-errors">

            </div>

            <div id="change-success" class="hidden">
                <div class="alert alert-success">
                    <h4>Success!</h4>
                    Thank you for changing your password. Please do this regularly to
                    increase security for this device!
                </div>
            </div>

            <form
                    id="form-change-password"
                    action="{{ web_link("ChangePassword") }}"
                    data-ajax="form"
                    data-ajax-type="json"
                    data-form-focus-first="#current_password"
                    data-form-reset="true"
                    data-error-target="#change-errors"
                    data-success-frame="#change-success"
            >
                <fieldset>
                    <label for="current_password">Current password</label>
                    <input id="current_password" type="password" name="current_password" />

                    <label for="password">New password</label>
                    <input id="password" type="password" name="password" />

                    <label for="password_verify">Verification</label>
                    <input id="password_verify" type="password" name="password_verify" />
                </fieldset>

                <input type="submit" class="btn btn-primary" value="Change" />
            </form>
        </div>

        <div class="tab-pane" id="tab-access-icinga">
            <h3>Icinga access</h3>

            <code>FEATURE IS MISSING</code>
        </div>

        <div class="tab-pane" id="tab-access-ssh">
            <h3>SSH access</h3>

            <div id="access-errors">

            </div>

            <div id="access-success" class="hidden">
                <div class="alert alert-success">
                    <h4>Success!</h4>
                    User access has been modified successfully
                </div>
            </div>

            <p>
                System access is: <span data-ajax-call="{{ web_link("SystemAccess") }}"></span>
            </p>

            <p id="access-again" class="hidden">
                Please <a href="#" id="access-again-link">click here</a> to change mode again.
            </p>

            <form
                id="form-system-access"
                action="{{ web_link("ChangeSystemAccess") }}"
                data-ajax="form"
                data-ajax-type="json"
                data-form-reset="true"
                data-error-target="#access-errors"
                data-success-frame="#access-success"
                data-success-callback="access_success_callback"
                >

                <h4>To change access please press the following button</h4>

                <p>
                {% if system_enabled == false %}
                    <input type="hidden" name="access" value="1" />
                    <input type="submit" class="btn btn-success" value="Enable" />
                    <p>System access (ssh/shell) for user {{ user.getName() }} will be enabled.</p>
                {% else %}
                    <input type="hidden" name="access" value="0" />
                    <input type="submit" class="btn btn-danger" value="Disable" />
                    <p>System access (ssh/shell) for user {{ user.getName() }} will be disabled.</p>
                {% endif %}
                </p
            </form>

            <script>
                var access_success_callback = function() {
                    $("#form-system-access").remove();
                    $("#access-again").removeClass("hidden");
                    $(document).Html5AjaxContent("insert");

                    // Reload with hash
                    $("#access-again-link").click(function(e) {
                        e.preventDefault();
                        var url = "{{ web_link('Index#tab-access-ssh') }}";
                        location.href = url;
                        location.reload();
                    });
                }
            </script>
        </div>
    </div>
</div>
