% set restart_url=web_link('System/Icinga/Daemon/Index#daemon-restart') %}
<div class="page-header">
    <h2>{%  trans "Hosts" %}</h2>
</div>

<p>
    {% trans %}
    Maintain your hosts and services here.
    {% endtrans %}
</p>

<div class="alert alert-info">
    <h4>{% trans "Add new host" %}</h4>
    <div>
        {% trans %}
        Press the following button to add a new host:
        {% endtrans %}

        <button data-action="new" class="btn btn-success">
            <i class="icon-plus"></i> {% trans "Add new" %}
        </button>

        <br /><br />

        <p>
            {% trans %}
            Please <a href="{{ restart_url }}">restart your Icinga instance</a> for the changes to take effect.
            {% endtrans %}
        </p>
    </div>
</div>

<table id="host-data-table" class="tkmon-data-table">
    <tr>
        <th>&nbsp;</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Alias" %}</th>
        <th>{% trans "No. services" %}</th>
        <th>{% trans "Address" %}</th>
        <th>&nbsp;</th>
    </tr>

    {% if hosts.count() == 0 %}
        <tr>

            <td colspan="6">
                {% trans "No hosts defined, click the button on top to create one!" %}
            </td>

        </tr>
    {% endif %}

    {% for host in hosts %}

        <tr>
            <td>
                {% if (host.getCustomVariable('tk_wiki_link')) %}
                    <button class="btn btn-info" data-toggle="popover">
                        <i class="icon-info-sign"></i>

                        <span class="hide">
                            {% trans "Device is a" %}
                            <strong>{{ host.getCustomVariable('tk_product_title') }}</strong>
                            - <a target="_blank" href="{{ host.getCustomVariable('tk_wiki_link') }}">More information</a>
                        </span>
                    </button>

                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td>{{ host.getHostName() }}</td>
            <td>{{ host.getAlias() }}</td>
            <td>

                {% if host.getServices().count() <= 0 %}
                    <span class="badge badge-important">
                        {{ host.getServices().count() }}
                    </span>
                {% else %}
                    <span class="badge badge-success">
                        {{ host.getServices().count() }}
                    </span>
                {% endif %}


            </td>
            <td>{{ host.getAddress() }}</td>
            <td style="max-width: 260px; text-align: center;">
                <button data-action="edit"  data-value="{{ host.getObjectIdentifier() }}" class="btn btn-primary">
                    <i class="icon-edit"></i> {% trans "Edit" %}
                </button>

                <button data-action="service" data-value="{{ host.getObjectIdentifier() }}" class="btn btn-success">
                    <i class="icon-wrench"></i> {%  trans "Services" %}
                </button>

                <div class="btn-group">
                    <a href="#" data-toggle="dropdown"  class="btn btn-danger dropdown-toggle">
                        <i class="icon-remove"></i> {% trans "Remove" %}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-action="remove" data-value="{{ host.getObjectIdentifier() }}">{% trans "Yes, delete please" %}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    {% endfor %}
</table>

<div id="edit-dialog" class="hide">

    <div id="host-errors"></div>

    <div id="host-success" class="alert alert-success hidden">
        <h4>{% trans "Success!" %}</h4>
        <div>
            Data was written to Icinga and is available on next restart.
        </div>
    </div>

    <form
        id="host-data"
        class="container-spacer-down"
        action="{{ web_link("Write") }}"
        data-ajax="form"
        data-ajax-type="json"
        data-error-target="#host-errors"
        data-success-frame="#host-success"
        data-before-callback="XXX"
        data-success-callback="callback_hosts_written"
    >

    <div class="pull-left" style="margin-left: 20px;">

        <h4>{% trans "Basic attributes" %}</h4>
        {% for field in host_attributes %}
            {% autoescape false %}
            {{ field }}
            {% endautoescape %}
        {% endfor %}

        <h4>{% trans "Parent host" %}</h4>
        <input name="parents" id="parents" type="text" placeholder="Parent host" autocomplete="off" />
    </div>

    <div class="pull-left" style="margin-left: 20px;">

        <h4>{% trans "Customfields" %}</h4>
        {% for field in host_customvars %}
            {% autoescape false %}
            {{ field }}
            {% endautoescape %}
        {% endfor %}
    </div>

    <div class="clearfix"></div>

    <div class="alert alert-info container-spacer-down">

        <div>
        {% trans "Ready to create? Press one of the following buttons:" %}
        </div>

        <div class="container-spacer-down">
            <button id="button-cancel" class="btn">
                <i class="icon-remove"></i> {% trans "Cancel" %}
            </button>

            <button type="submit" id="button-save" class="btn btn-primary">
                <i class="icon-plus"></i> {% trans "Save" %}
            </button>
        </div>

        <div class="clearfix"></div>
    </div>

        <input type="hidden" name="action" id="action" value="create" />

    </form>
</div>

<script>
    require(['jquery', 'bootstrap', 'TKMON/host/TypeAhead'], function() {
        "use strict";

        var hostSearchUrl = '{{ web_link('Monitor/Icinga/Hosts/Search') }}';

        $('button[data-toggle=popover]').each(function(index, button) {
            $(button).popover({
                html: true,
                content: $(button).find('span:first').html(),
                container: 'body',
                title: '{% trans "Product information" %}',
                trigger: 'manual'
            }).click(function() {
                $('button[data-toggle=popover]').not($(this)).popover('hide'); // open only one (close others)
                $(this).popover('toggle');
            });
        });

        var fillForm = function(data) {
            var test = !!(typeof(data) === "object" && data !== null);

            $('#parents').hostTypeAhead({
                url: hostSearchUrl,
                exclude: (test === true) ? [data.host_name] : null
            });

            // Reset the form or fill in the voyager object
            $('#host-data *[name]').each(function(elementIndex, element) {
                if (test) {
                    var name = $(element).attr("name");
                    var val = (name in data) ? data[name] : "";
                    $(element).val(val);
                } else {
                    $(element).val("");
                }
            });

            // Fix edit or create state
            if (test && ('host_name' in data)) {
                $('#host-data input[name=action]').val("edit");
                $('#host-data input[name=host_name]').attr('readonly', 'readonly');

            } else {
                $('#host-data input[name=action]').val("create");
                $('#host-data input[name=host_name]').removeAttr('readonly');
            }

            // Reset the displays
            $('#host-success').addClass('hidden');
            $('#host-errors *').remove();
        };

        window.callback_hosts_written = function() {
            window.setTimeout(function() {
                showDialog();
                window.history.go(0);
            }, 1500);
        };

        var showDialog = function(data, mode) {
            var test = $('#host-data-table').hasClass('hide');

            if (!mode) {
                mode = (!test==true) ? 'show' : 'hide';
            }

            fillForm(data);

            if (mode === 'hide') {
                $('#host-data-table').removeClass('hide');
                $('#edit-dialog').addClass('hide');
            } else {
                $('#host-data-table').addClass('hide');
                $('#edit-dialog').removeClass('hide');
            }
        }

        $('button[data-action=new]').click(function() {
            showDialog(null);
        });

        $('a[data-action=remove]').click(function(e) {
            e.preventDefault();
            var dataUrl = '{{ web_link("Remove") }}';
            var id = $(this).attr('data-value');

            $.ajax(dataUrl, {
                type: 'POST',
                data: JSON.stringify({
                    host_name: id
                }),
                dataType: 'json',
                success: function(data) {
                    window.history.go(0);
                }
            });
        });

        $('button[data-action=service]').click(function(e) {
            e.preventDefault();
            var editUrl = '{{ web_link("Monitor/Icinga/Services/Edit") }}';
            var id = $(this).attr('data-value');

            editUrl += '?' + $.param({hostName: id});

            window.location.href = editUrl;
        });

        $('button[data-action=edit]').click(function(e) {
            e.preventDefault();
            var dataUrl = '{{ web_link("Data") }}';
            var id = $(this).attr('data-value');

            $.ajax(dataUrl, {
                type: 'POST',
                data: JSON.stringify({
                    host_name: id
                }),
                dataType: 'json',
                success: function(data) {
                    if (data && typeof(data) === "object") {
                        if (data.success === true) {
                            showDialog(data.data[0]);
                        }
                    }
                }
            });
        });

        $('button#button-cancel').click(function() {
            showDialog('hide');
        });
    });
</script>
