<h4>{% trans "DNS settings" %}</h4>

<div id="dns-errors">

</div>

<div id="dns-success" class="hidden alert alert-success">
    <h4>{% trans "Success!" %}</h4>
    <p>{% trans "DNS resolver config has been saved and networking has been restarted" %}</p>
</div>

<p>{% trans "Here you can change your DNS settings." %}</p>

<form
        id="dns-form"
        class="container-spacer-down"
        action="{{ web_link("ChangeDnsSettings") }}"
        data-ajax="form"
        data-ajax-type="json"
        data-error-target="#dns-errors"
        data-success-frame="#dns-success"
        >

    <div class="alert alert-info">
        {% trans %}
        This system uses a resolv.conf configuration file which keeps track of the available DNS servers. Normally you can leave the fields blank if you have a DHCP configured interface.
        {% endtrans %}
    </div>

    <fieldset>
        <label for="dns_nameserver1">{% trans "First nameserver" %}</label>
        <input type="text" name="dns_nameserver1" id="dns_nameserver1" value="{{ dns_nameserver1 }}" />
    </fieldset>

    <fieldset>
        <label for="dns_nameserver2">
            {% trans "Second nameserver (optional)" %}
            <a data-clear-field="dns_nameserver2" title="{% trans "Click to clear field content" %}">
                <i class="icon-trash"></i>
            </a>
        </label>
        <input type="text" name="dns_nameserver2" id="dns_nameserver2" value="{{ dns_nameserver2 }}" />
    </fieldset>

    <fieldset>
        <label for="dns_nameserver3">
            {% trans "Third nameserver (optional)" %}
            <a data-clear-field="dns_nameserver3" title="{% trans "Click to clear field content" %}">
                <i class="icon-trash"></i>
            </a>
        </label>
        <input type="text" name="dns_nameserver3" id="dns_nameserver3" value="{{ dns_nameserver3 }}" />
    </fieldset>

    <div class="container-spacer-down">
        <fieldset>
            <label for="dns_search">
                {% trans "Search suffix (optional)" %}
                <a data-clear-field="dns_search" title="{% trans "Click to clear field content" %}">
                    <i class="icon-trash"></i>
                </a>
            </label>
            <input type="text" name="dns_search" id="dns_search" value="{{ dns_search }}" />
        </fieldset>
    </div>

    <div class="container-spacer-down">
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}" />
    </div>

</form>

