{% set restart_link = web_link('Monitor/Daemon/Index#daemon-restart') %}

<h2>{% trans "Settings" %}</h2>

<div class="alert alert-info">
    {% trans %}
    Here you can configure your Thomas Krenn Call-Home-Service Subscription. Click the
    <a href="http://www.thomas-krenn.com/en/wiki/Call-Home-Service">following link to get more information</a>.
    {% endtrans %}
</div>

<p>
{% trans %}
    All data between your environment and Thomas Krenn will be encrypted. Read more on
    our <strong><a href="http://www.thomas-krenn.com/en/wiki/Call-Home-Service_Privacy_Policy">Call-Home-Service Privacy Policy</a></strong>.
{% endtrans %}
</p>

<div id="alert-config-errors"></div>

<div id="alert-config-success" class="alert alert-success hidden">
    <h4>{% trans "Success" %}</h4>
    <p>
        {% trans %}
            Changes have been written to disk.
            Please <a href="{{ restart_link }}">restart your Icinga instance</a> for the changes to take effect.
        {% endtrans %}
    </p>
</div>

<form
    class="container-spacer-down"
    action="{{ web_link("Update") }}"
    data-ajax="form"
    data-ajax-type="json"
    data-error-target="#alert-config-errors"
    data-success-frame="#alert-config-success"
>

    <fieldset>
        <label for="person">{% trans "Contact person" %}</label>
        <input type="text" name="person" id="person" value="{{ person }}" />
    </fieldset>

    <fieldset>
        <label for="email">{% trans "Email address" %}</label>
        <input type="text" name="email" id="email" value="{{ email }}" />
    </fieldset>

    <fieldset>
        <label for="authkey">{% trans "Call-Home Auth-Key" %}</label>
        <input type="text" name="authkey" id="authkey" value="{{ authkey }}" />
    </fieldset>

    <p class="container-spacer-down">
        {% trans %}
            Press the following button to commit your changes.
        {% endtrans %}

        <button type="submit" class="btn btn-primary">
            <i class="icon-save"></i> {% trans "Save" %}
        </button>
    </p>

</form>
