{% set restart_link = web_link('System/Icinga/Daemon/Index#daemon-restart') %}

<h2>{% trans "Settings" %}</h2>

<p>
    {% trans %}
    Configure your Thomas Krenn Call-Home-Service subscription here. Click the
    <a target="_blank" href="http://www.thomas-krenn.com/en/wiki/Call-Home-Service">following link to get more information</a>.
    {% endtrans %}
</p>
<div class="container-spacer-down alert alert-info">
    <h5>Privacy Policy</h5>
    <p>
        <i class="icon-thumbs-up icon-4x pull-left"></i>
        {% trans %}
        All data between your appliance and Thomas Krenn will be encrypted with GPG. 
        {% endtrans %}
    </p>
    <p>	
        {% trans %}
        Find out more at our <a target="_blank" href="http://www.thomas-krenn.com/en/wiki/Call-Home-Service_Privacy_Policy">Call-Home-Service Privacy Policy</a>.
        {% endtrans %}
    </p>
</div>

<div id="alert-config-errors"></div>

<div id="alert-config-success" class="alert alert-success hidden">
    <h4>{% trans "Success" %}</h4>
    <p>
        {% trans %}
            Changes have been written to disk.
            Please <a href="{{ restart_link }}">restart your Icinga instance</a> for the changes to take effect.
        {% endtrans %}
    </p>
</div>

<button type="button" data-toggle="button" id="enable-toggle" class="btn btn-success">
    <i class="icon-check"></i> {% trans "Toggle to enable call-home support" %}
</button>

<form
    class="container-spacer-down"
    action="{{ web_link("Update") }}"
    data-ajax="form"
    data-ajax-type="json"
    data-error-target="#alert-config-errors"
    data-success-frame="#alert-config-success"
    id="setting-form"
>
    <fieldset class="container-spacer-down">
        <label for="person">{% trans "Contact person" %}</label>
        <input type="text" name="person" id="person" value="{{ person }}" />
    </fieldset>

    <fieldset>
        <label for="email">{% trans "Email address" %}</label>
        <input type="text" name="email" id="email" value="{{ email }}" />
    </fieldset>

    <fieldset>
        <label for="authkey">{% trans "Call-Home Auth-Key" %}</label>
        <input type="text" name="authkey" id="authkey" value="{{ authkey }}" />
    </fieldset>

    <p class="container-spacer-down">
        <button type="submit" class="btn btn-primary">
            <i class="icon-save"></i> {% trans "Save changes" %}
        </button>
    </p>

    <input type="hidden" id="enabled" name="enabled" value="{{ enabled }}" />
</form>

<script>
    require(['jquery', 'bootstrap'], function($) {
        "use strict";

        var field = $('#enabled');
        var button = $('#enable-toggle');

        var loadProcessor = function(toggle) {
            if (field.val() !== '1') {
                $('#setting-form').find('fieldset').addClass('hidden');
                if (toggle) {
                    button.removeClass('active');
                }
            } else {
                $('#setting-form').find('fieldset').removeClass('hidden');
                if (toggle) {
                    button.addClass('active');
                }
            }
        };

        loadProcessor(true);

        button.click(function() {
            var value = field.val() === '1' ? '0' : '1';
            field.val(value);
            loadProcessor();
        })
    })
</script>
